<div class="backgroundContainer">
    <footer>
        <nav>
            <a href="#aboveTheFold"><img src="./assets/img/footer/logo.svg" alt="footer-Icon"></a>
            <span class="footerText">© Benedikt Messler 2024</span>
            <div class="links">
                <a href="https://github.com/WebdeveloperBe" target="_blank"><img src="./assets/img/footer/github.svg" alt="GitHub-Icon" /></a>
                <a href="mailto:benedikt.messler@gmx.net" target="_blank"><img src="./assets/img/footer/email.svg" alt="Email-Icon" /></a>
                <a href="https://www.linkedin.com/in/benedikt-messler-006737309/" target="_blank"><img src="./assets/img/footer/linkedin.svg" alt="linkedin-Icon" /></a>    
            </div>
        </nav>
        <div class="imprint">
            <a [routerLink]="[ '/imprint' ]">{{ "footer.link" | translate }}</a>
        </div>
    </footer>
</div>