<section [routerLink]="['/']">
    <div>
        <img src="./assets/img/imprint/ballSmall.svg" alt="">
        <div>
            <h2>Impressum</h2>
            <p>Benedikt Messler</p>
            <p>Kreuzmeer 12</p>
            <p>33129 Delbr&uuml;ck</p>
        </div>

        <div>
            <h2>Kontakt</h2>
            <p>Telefon: 0525054859</p>
            <p>E-Mail: mail&#64;benedikt-messler.com</p>
        </div>

        <div>
            <h2>Quellen</h2>
            <p>
                Impressum und Datenschutz:
                <a href="https://www.e-recht24.de">eRecht24</a>
            </p>
        </div>

    </div>
</section>