<div class="backgroundContainer">
  <div class="aboveTheFoldContainer">
    <div>
      
      <div class="rightContainer">

      <img class="ball1" src="./assets/img/aboveTheFold/ballBig.svg" alt="big ball" />
      <img class="profile" src="./assets/img/aboveTheFold/freigestellt.png" alt="profile-picture">

        <div class="headerContainer">
          <span>{{ "aboveTheFold.greeting" | translate }}</span>
          <div class="headline">
            <span class="letter1">{{ "aboveTheFold.frontend" | translate }}</span><br>
            <span class="letter2">{{ "aboveTheFold.developer" | translate }}</span>
          </div>
        </div>
        <div class="links">
          <a href="https://github.com/WebdeveloperBe" target="_blank"><img src="./assets/img/aboveTheFold/gitHub.svg" alt="GitHub-Icon" /></a>
          <a href="mailto:benedikt.messler@gmx.net" target="_blank"><img src="./assets/img/aboveTheFold/email.svg" alt="Email-Icon" /></a>
          <a href="https://www.linkedin.com/in/benedikt-me%C3%9Fler-010785311/" target="_blank"><img src="./assets/img/aboveTheFold/linkedIn.svg" alt="linkedIn-Icon" /></a>
        </div>
        <div class="scrollContainer">
          <span class="scroll">{{ "aboveTheFold.scroll" | translate }}</span>
          <div class="verticalLine"></div>
        </div>
      </div>
    </div>
    <img class="ball2" src="./assets/img/aboveTheFold/ballMiddle.svg" alt="middle ball" />
  </div>
</div>